<h1> dashboard <h1>
    
    {% if  user.is_authenticated %}




    
    {% block messages_Contents  %}
    
    <!-- ظهور رسالة للمستخدم -->
    {% if messages %} <!-- جملة شرطية للتحقق من وجود رسالة قبل عرضها-->
        {% for message in messages %} <!-- جملة تكرار للمرور على جميع  محتويات الرسالة لعرضها كلها -->
    <!--success: هي التي تقوم بتحديد لون الرسالة اخضر -->
    <!--warning: هي التي تقوم بتحديد لون الرسالة احمر -->
            <div  class="alert alert-success">
                {{ message }} <!-- المتغير الذي يحمل نص الرسالة-->
            </div>
        {% endfor %}
    {% endif %}
    
    {% endblock messages_Contents %} 











    
    <p  class="mt-0">  Welcome -مرحبا (  {{ user.username }} ) </p>
    <p  class="mt-0">  Last login: - أخر دخول (  {{ user.last_login }} ) </p>
    
    
    
    <li><a href="{% url 'dashboard-URL'    %}">(1) - Home page - الصفحة الرئيسية</a></li>
    <li><a href="{% url 'about-URL'        %}">(2) - About Us  - معلومات عنا</a></li>
    <li><a href="{% url 'LogoutConfirm-URL'  %}">(3) - Logout  - الخروج</a></li>
    
    
    <!--  Base.html - Menu_Page Start- ---------------------------- -->
                <!-- Menu -->
                <nav id="menu">
                
                <ul>
                    <li>
                    <span class="opener">(A) -My Acoount - حسابي</span>
                    <ul>
                        <li><a href="#">1- Password Reset - إعادة تعيين كلمة المرور</a></li>
                        <li><a href="#">2- Password Change - تغيير كلمة المرور</a></li>
                        <li><a href="#">3- Delete Profile - حذف الحساب</a></li>
    
                    </ul>
                    </li>
                                    
                    <li>
                    <span class="opener">(B) - My Profile - الملف  الشخصي</span>
                    <ul>
                        <li><a href="#">1- Non - 01/a></li>
    
                        
                    </ul>
                    </li>
    {% else %}
    <li><a href="{% url 'admin:login'     %}">1- Administrator Login </a></li>
    <li><a href="{% url 'login-URL'  %}">2- Customer      Login </a></li>
    <li><a href="#">3- Sign Up                                       </a></li>
    <li><a href="{% url 'dashboard-URL'   %}">4- Home Page           </a></li>
    <li><a href="{% url 'about-URL'       %}">5- About Us            </a></li>
                </ul>
                </nav>
                {% endif %}