{% comment %} {% extends "home/base.html" %}   {% endcomment %}
{% load static %}






{% block Page_Title  %}

<div class="row justify-content-center">
<h1> Generate Random Strong Password -      توليد كلم مرور عشوائية </h1>
<h1>  {{ otp_one_time_password}} <h1> 
</div>

{% endblock Page_Title %}  






{% block Contents_Page %} 

<div class="row justify-content-center">
    <div class="col-5">
    <div class="card">
    <div class="card-body">
    

</div>
</div>
</div>
</div>

{% endblock Contents_Page %} 





{% comment %}     
<!-- ظهور رسالة للمستخدم -->
{% if messages %} <!-- جملة شرطية للتحقق من وجود رسالة قبل عرضها-->
    {% for message in messages %} <!-- جملة تكرار للمرور على جميع  محتويات الرسالة لعرضها كلها -->
<!--success: هي التي تقوم بتحديد لون الرسالة اخضر -->
<!--warning: هي التي تقوم بتحديد لون الرسالة احمر -->
        <div  class="alert alert-success">
            {{ message }} <!-- المتغير الذي يحمل نص الرسالة-->
        </div>
    {% endfor %}
{% endif %} {% endcomment %}

    {% comment %} 
        1- Provide Contextual Feedback Messages For Typical User Actions  
        2- Messages Alert With Bootstrap
    {% endcomment %}
    {% include 'messages_alert/messages_alert.html' %}




{% block body_block %}

<div class="jumbotron">

{% comment %} <form action="{% url 'login_with_otp-URL' %}" method="POST"> {% endcomment %}
    <form action="{% url 'generate_random_strong_password-URL' %}" method="POST">

    {% csrf_token %}

    <h1> The New Password Is:     {{ received_data }}</h1>

    <button  type="submit" class="btn btn-primary"> Create - توليد/إنشاء</button>

</form>
<a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline" href="{% url 'logout_done-URL' %}" class="btn btn"> Login    - الدخول</a> <!-- Go To Home Page -->
<br>
<a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline" href="{% url 'dashboard-URL'  %}" class="btn btn"> Go To My Home Page    -   العودة إلى الصفحة الرئيسية</a> <!-- Go To Home Page -->

</div>
{% endblock %}