{% comment %} {% extends 'account_base.html' %}\ {% endcomment %}

{% block title %}
<h3> Please Choose The Communication Method You Will Use To Confirm <h3> 
    <h4>  <h4>

{% endblock title %}




{% block messages_Contents  %}
    
{% comment %} <!-- ظهور رسالة للمستخدم -->
{% if messages %} <!-- جملة شرطية للتحقق من وجود رسالة قبل عرضها-->
    {% for message in messages %} <!-- جملة تكرار للمرور على جميع  محتويات الرسالة لعرضها كلها -->
<!--success: هي التي تقوم بتحديد لون الرسالة اخضر -->
<!--warning: هي التي تقوم بتحديد لون الرسالة احمر -->
        <div  class="alert alert-success">
            {{ message }} <!-- المتغير الذي يحمل نص الرسالة-->
        </div>
    {% endfor %}
{% endif %} {% endcomment %}

    {% comment %} 
        1- Provide Contextual Feedback Messages For Typical User Actions  
        2- Messages Alert With Bootstrap
    {% endcomment %}
    {% include 'messages_alert/messages_alert.html' %}

{% endblock messages_Contents %} 





{% block main %}

<div class="card card-outline-secondary">
    <br>  
<h4> Send a Text Message To The e-Mail </h4>
    <form class="form" action="{% url 'FUNCTION_send_new_password_to_user_email-URL' %}" method="POST" role="form" autocomplete="off" novalidate>
        {% csrf_token %}
            <label for="email">Email</label>
            <br>
            <input type="email" id="email" name="send_new_password_to_user_email" placeholder="Enter your E-mail" >
            <br>
            <input type="submit" value="Send To Email" >
    </form>
    
    <h4> Send a Text Message To Mobile </h4>
        <form class="form" action="{% url 'FUNCTION_send_new_password_to_user_whatsapp-URL' %}" method="POST" role="form" autocomplete="off" novalidate>
        {% csrf_token %}
        <label for="email">Email</label>
        <br>
        <input type="email" id="email" name="email_send_new_password_to_user_mobile" placeholder="Enter your E-mail" >
        <br>
        <label for="mobile_number">Mobile Number:</label>
        <br>
        <input type="text" name="mobile_send_new_password_to_user_mobile" placeholder="Enter your Mobile" >
        <br>
        <input type="submit" value="Send To Mobile" >
    </form> 
    <a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline" href="{% url 'dashboard-URL' %}" class="btn btn">Go To Home Page - الذهاب إلى الصفحة الرئيسية</a> <!-- Go To Home Page -->

</div>

{% endblock main %}
