{% comment %} {% extends 'account_base.html' %}\ {% endcomment %}

{% block title %}CHange Password{% endblock title %}\

{% block css %}
<style>
#inputPasswordNew{
    position: relative;
}
.pswd_icon_wrapper{
    position: absolute;
    cursor: pointer;
    top:35%;
    right:5%;
}
</style>
{% endblock css %}



{% block messages_Contents  %}
    
<!-- ظهور رسالة للمستخدم -->
{% if messages %} <!-- جملة شرطية للتحقق من وجود رسالة قبل عرضها-->
    {% for message in messages %} <!-- جملة تكرار للمرور على جميع  محتويات الرسالة لعرضها كلها -->
<!--success: هي التي تقوم بتحديد لون الرسالة اخضر -->
<!--warning: هي التي تقوم بتحديد لون الرسالة احمر -->
        <div  class="alert alert-success">
            {{ message }} <!-- المتغير الذي يحمل نص الرسالة-->
        </div>
    {% endfor %}
{% endif %}

{% endblock messages_Contents %} 





{% block main %}
<div class="container">
    <div class="card card-outline-secondary">
        <div class="card-header">
        <br>
        </div>
        <div class="card-body col-8">
            <form class="form" action="" method="POST" role="form" autocomplete="off" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your E-mail" Required>
                </div>
                <div class="form-group">
                    <label for="inputPasswordOld">Current Password</label>
                    <input type="password" class="form-control" id="inputPasswordOld" name="curent_password" value="" required>
        
                </div>
                <div class="form-group">
                    <label for="inputPasswordNew">New Password</label>
                    <input type="password" class="form-control" id="inputPasswordNew" name="new_password" value="" required>
                    <span class="pswd_icon_wrapper"><i class="fas fa-eye text-secondary"></i></span>
                </div>
                <div class="form-group">
                    <label for="inputPasswordNewVerify">Confirm New Password</label>
                    <input type="password" class="form-control" id="inputPasswordNewVerify" name="confirm_new_password" value="" required>
                </div>
                <div class="form-group d-flex">
                    <button type="submit" name="change_button" class="btn btn-primary btn-lg mx-2">Change</button>
                    <a class="btn btn-info btn-lg mx-2" href="{% url 'dashboard-URL'    %}">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}
{% block js %}
<script>
let password = document.querySelector('#inputPasswordNew');
let pswdIcon = document.querySelector('.pswd_icon_wrapper')
pswdIcon.addEventListener('click', function(element){
    //alert("click");
    if(password.getAttribute("type") == "password"){
    password.setAttribute("type", "text");
    this.innerHTML = `<i class="fas fa-eye-slash text-secondary"></i>`
    }
    else{
    password.setAttribute("type", "password");
    this.innerHTML = `<i class="fas fa-eye text-secondary"></i>`
    }
})
</script>
{% comment %} Script Enjected by Django {% endcomment %}
<script>
    {% if successMsg %}
        alert("{{successMsg}}")
    {% endif %}
</script>
{% endblock js %}